@import "tailwindcss/base" ;
@import "tailwindcss/utilities";


/* Fonts */

/* Rhodium Libre */
@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Habibi */
@import url('https://fonts.googleapis.com/css2?family=Habibi&display=swap');

/* Gruppo */
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

/* Zen Tokyo Zoo */
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

/* Zen Old Mincho */
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

/* Genos */
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');

/* Galindo */
@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');

/* Zen Dots */
@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Zen+Dots&display=swap');

/* Yuji Syuku */
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

/* Syncopate */
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

/* Sura */
@import url('https://fonts.googleapis.com/css2?family=Sura:wght@400;700&display=swap');

/* Roboto Flex */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* Galada */
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

/* Squada One */
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

/* Spline Sans */
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

/* Vollkorn SC */
@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&display=swap');

/* Trykker */
@import url('https://fonts.googleapis.com/css2?family=Trykker&display=swap');

/* Red Hat Text */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

/* Red Rose */
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap');

/* Goblin One */
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');


*, html {
    scroll-behavior: smooth !important;
}
